html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ol,
ul,
li,
td,
aside,
footer,
header,
nav,
section,
img {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
}

ol,
ul,
a {
  list-style: none;
  text-decoration: none;
}
