@import url(./variables.css);

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
}

body {
  background-image: url(../images/hw6-milan-background.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.background,
.header,
.logo-wrapper,
.contacts-wrapper,
.main,
.card-wrapper,
.overlay__text,
.overlay__text-price,
.overlay__text-side {
  display: flex;
  flex-wrap: wrap;
}

.background,
.header,
.main,
.logo-wrapper {
  align-items: center;
}

.background,
.contacts-wrapper,
.contacts-wrapper,
.card-wrapper,
.overlay__text-price {
  flex-direction: column;
}

.background {
  justify-content: center;
}

.container,
.overlay__text {
  color: #ffffff;
}

.container {
  width: 1030px;
  /* margin: 0 auto; */
}

.header,
.contacts-wrapper,
.main,
.overlay__text,
.overlay__text-price {
  justify-content: space-between;
}

.header,
.contacts-wrapper {
  height: 61px;
}

.header {
  margin: 46px 0px 17px;
}

.logo-wrapper .logo {
  margin-right: 8px;
}

.logo-wrapper:hover .logo {
  background-image: url(../images/logo-hover.png);
}

.logo {
  background-image: url(../images/logo.svg);
  width: 53px;
  height: 47px;
}

.logo-text {
  text-transform: uppercase;
  font-weight: 700;
}

.logo-text p:first-child {
  font-size: 29px;
  line-height: 29px;
}

.logo-wrapper:hover .logo-text,
.contacts-wrapper a:first-child:hover,
.contacts-wrapper a:last-child:hover,
.overlay-wrapper:hover .card-title {
  color: #f26522;
}

.contacts-wrapper {
  text-align: right;
}

.main {
  align-content: space-between;
  height: 560px;
}

.overlay-wrapper {
  position: relative;
}

.card-image {
  width: 300px;
  background: linear-gradient(to right top, #000000, #ffffff);
  padding: 2px;
}

.card-title {
  margin-top: 20px;
}

.card-title,
.footer {
  text-align: center;
}

.footer {
  margin: 48px 0px 15px;
  font-size: 12px;
  line-height: 12px;
}

/* --------------------- OVERLAY START --------------------- */
.overlay {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: #f26522;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.overlay-wrapper:hover .overlay {
  height: 55px;
}

.overlay__text {
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 265px;
}

.overlay__text-price-above {
  font-size: 10px;
  line-height: 10px;
}

.overlay__text-price-below {
  line-height: 20px;
}

.overlay__text-price {
  height: 36px;
}

.overlay__text-side {
  align-items: flex-end;
  font-size: 14px;
  line-height: 14px;
}

.overlay__text-side::after {
  content: url(../images/arrow.png);
  margin-left: 16px;
}
/* --------------------- OVERLAY FINISH --------------------- */
